
{{#each shows as |show|}}

<div class="container">
  <!-- change back to row below -->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="thumbnail">
      <div class="caption">
<div id='show-listing' data-id="{{show.id}}">

  <h3>{{show.show_name}}</h3>
  <p>Show ID: {{show.id}}</p>
  <p>Date: {{show.show_date}}</p>
  <p>Time: {{show.show_time}}</p>
  <p>Notes:<br> {{show.notes}}</p>
</div>
</div>
</div>
</div>

{{/each}}
